body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black; /* Fundo preto */
    color: yellow; /* Texto amarelo */
}

.container {
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: none; /* Remove fundo */
    border: none; /* Remove borda */
    color: yellow; /* Texto amarelo */
}

button:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.oculto {
    display: none;
}

#resposta {
    text-align: center;
    color: black; /* Texto preto para a segunda página */
}

#resposta img {
    max-width: 100%;
    height: auto;
}
